/*********/
/* NOTES */
/*********/

/*
Cette feuille de style utilise :
- les variables css (96% des users selon caniuse.com)
- css grid (98% des users selon caniuse.com)
- une structure comme un genre de bootstrap artisanal (modele section / lignes / colonnes)
- des noms en anglais car j’en ai l'habitude (la faute de bootstrap principalement ^^)
*/

:root {
    --text-primary: #1f1f1f;
    --text-secondary: #FCFCFC;
    
    --accent-color: #2639E3;
    --accent-color-dark: #384ae5;
    --accent-color-secondary: #35FF69;

    --background-primary:#fff;
    --background-secondary: #1f1f1f;
    --background-secondary-light: rgba(31, 31, 31, 0.6);
    --background-secondary-ultralight: rgba(31, 31, 31, 0.2);

    --fonts-title: 'Space Grotesk', sans-serif;
    --fonts-text: 'IBM Plex Sans', sans-serif;

    --header-height: 80px;
    --dropdown-shadow: rgb(56, 74, 229, 0.8);
    --dropdown-shadow-black: rgb(0, 0, 0, 0.5);
}
::selection {
    background: var(--accent-color-secondary);
    color: var(--accent-color);
}
/********************************/
/*general
/********************************/
body {
    margin: 0;
    padding: 0;
    background: var(--background-primary);
    font-family: var(--fonts-text);
    color: var(--text-primary);
    font-size: 18px;
}

/********************************/
/*Typography*/
/********************************/

/*titles*/

h1, h2, h3, h4, h5, h6 {
font-family: var(--fonts-title);
color: var(--accent-color);
}

h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-block-start: 0;
}
h2 {
    font-size: 2.5rem;
    line-height: 2.9rem;
    margin-block-start: 0;
}
h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-block-start: 0;
}
h4 {
    font-size: 1.35rem;
    line-height: 1.75rem;
}
h5 {
    font-size: 1.25rem;
    line-height: 1.55rem;
}
h6 {
    font-size: 1.1rem;
    line-height: 1.4rem;
}

/*content text*/
a, p, input, th, td, button{
    color: var(--text-primary);
    font-weight: 400;
    line-height: 1.5rem;
}
a {
    transition: all 300ms ease-in-out;
    text-decoration: none;
    color: var(--accent-color);
}
a:hover {
    color: var(--text-primary);
}


/********************************/
/*buttons*/
/********************************/

/*reset default styles of buttons tags*/
button {
    background: none;
    border: none;
    font-size: 1rem;
}

.button {
    background: var(--accent-color);
    color: var(--text-secondary);
    padding: 10px 20px;
    border-radius: 15px;
}

/******************************/
/* header with logo and nav*/
/******************************/

.header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left:0;
    right:0;
    /* background: var(--background-primary); */
    background: white;
    box-shadow: 0 5px 2px var(--dropdown-shadow);
    z-index: 2;
}
#header-logo-container {
    max-width: 50%;
}
#header-logo {
    max-width: 100%;
}
/*nav menus */

.menu {
    background: white;
    margin: 0;
    padding: 15px;
}

.menu-item {
    background: white;
    list-style-type: none;
    margin: 10px 0;
    max-width: 100%;
}
/*bouton menu*/

#menu-mobile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#menu-mobile-button:hover {
    cursor: pointer;
}
.menu-icone {
    display: inline-block;
    height: 32px;
    width: 32px;
    background: url('./images/icones/menu-32px.png') no-repeat;
    margin-bottom: 5px;
}
.menu-close {
    height:26px;
    width: 26px;
    background: url('./images/icones/close.png') no-repeat;
    background-size: contain;
}
#header-menu-nav {
    z-index: 1;
}
#header-menu-nav {
    position: fixed;
    width: 100%;
    top: -250px;
    transition: all 200ms ease-in-out;
}
#header-menu-nav.visible {
    top: var(--header-height);
    box-shadow: 0 5px 2px var(--accent-color-dark);
}
/********************************/
/* General structure*/
/********************************/

.section, header, footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.section, footer{
    /* background: blue; */
    margin: 0 auto;
    padding: 50px 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    /* background: var(--background-primary); */
    /* background: green; */
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
.col {
    /* background: var(--background-primary); */
    /* background: red; */
    padding: 20px 5px;
}

/*fix static width of images*/
img {
    display: inline-block;
    max-width: 100%;
}

/* tables design */

.table-responsive {
    overflow-x: auto;
}

table {
    width :100%;
    border-collapse: collapse;
}
table tbody {
    border-top: solid 2px var(--background-secondary);
}
td, th {
    vertical-align: top;
    padding: 0.5rem 0.5rem;
}
th {
    font-weight: 600;
}

/*card design (article tags)*/
.card {
    /* border-radius: 0 40px 40px 40px; */
    max-width: 100%;
    box-shadow: 0px 5px 15px 2px var(--dropdown-shadow-black);
}
.card-header img {
    display: block;
    margin: 0 auto;
}
.card-content {
    /* border: solid 4px var(--accent-color); */
    background: var(--accent-color);
    padding: 40px 20px 10px 20px;
}
.card-content h3, .card-content p, .card-content a {
    color: var(--text-secondary) !important;
}
.card-content a {
    text-decoration: underline;
}


/********************************/
/*Specific Structures and design*/
/********************************/


/*alternate sections backgrounds*/
#home, #experiences, #realisations {
    background: var(--background-primary);
}
#formation, #competences, #centres-interet {
    background: var(--background-secondary-ultralight);
}

/*home section*/

#home {
    padding: 150px 0 50px 0;
}

#home .page-subtitle {
    padding-bottom: 0;
    margin-bottom: 0;
}
#header-title-row {
    padding-bottom: 0;
    margin-bottom: 0;
}
#header-buttons-row {
    padding-top: 0;
    margin-top: 0;
}
#home .button {
    display: flex;
}
.button-icon {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 7px;
}   
#icon-email {
    background: url(./images/icones/email.png) no-repeat;
}
#icon-github {
    background: url(./images/icones/github.png) no-repeat;
}
#icon-linkedin {
    background: url(./images/icones/linkedin-logo.png) no-repeat;
}

/*formation section*/


/*experiences section*/

#experiences .card-header {
    padding: 30px;
}

#experiences .card-header img {
    max-width: 200px;
}

#tatagermaine .card-header img {
    background: #354358;
    padding: 10px;
}
#competences h3 {
    margin-block-end: 0;
}

/*realisations & centres-interet section*/
#realisations .card-header, #centres-interet .card-header {
    display: grid;
}
#realisations .card-header img, #centres-interet .card-header img{
    object-fit: cover;
}

/*footer*/

footer {
    padding-bottom: 0;
}
footer p {
    margin: 5px 0;
}

/*Mentions légales*/
#page-mentions h2 {
    font-size: 2rem;
    line-height: 2.3rem;
}


