/*********/
/* NOTES */
/*********/

/*
Cette feuille de style utilise :
- les variables css (96% des users selon caniuse.com)
- css grid (98% des users selon caniuse.com)
- une structure comme un genre de bootstrap artisanal (modele section / lignes / colonnes)
- des noms en anglais car j’en ai l'habitude (la faute de bootstrap principalement ^^)
- des polices au format woff2 pour une meilleure compression
*/


@font-face {
    font-family: 'IBM Plex sans';
    src: url(./fonts/ibmplexsans-light-webfont.woff2) format("woff2");
    font-weight: 300;
}
@font-face {
    font-family: 'IBM Plex sans';
    src: url(./fonts/ibmplexsans-bold-webfont.woff2) format("woff2");
    font-weight: 700;
}
@font-face {
    font-family: 'IBM Plex sans';
    src: url(./fonts/ibmplexsans-lightitalic-webfont.woff2) format("woff2");
    font-style: italic;
}
@font-face {
    font-family: 'Space Grotesk';
    src: url(./fonts/SpaceGrotesk-Bold.woff2) format("woff2");
    font-weight: 700;
}

:root {
    --text-primary: #1f1f1f;
    --text-secondary: #fff;
    
    --accent-color: #2639E3;
    --accent-color-secondary: #35FF69;

    --background-primary:#fff;
    --background-secondary: rgb(31, 31, 31);
    --background-secondary-light: rgba(31, 31, 31, 0.6);
    --background-secondary-ultralight: rgba(31, 31, 31, 0.2);

    --fonts-title: 'Space Grotesk', sans-serif;
    --fonts-text: 'IBM Plex sans', sans-serif;

    --header-height: 80px;
    --dropdown-shadow: rgba(56, 74, 229, 0.8);
    --dropdown-shadow-black: rgba(0, 0, 0, 0.5);
}
::selection {
    background: var(--accent-color-secondary);
    color: var(--accent-color);
}
/********************************/
/*general
/********************************/
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background: var(--background-primary);
    font-family: var(--fonts-text);
    color: var(--text-primary);
    font-size: 18px;
}

/********************************/
/*Typography*/
/********************************/

/*titles*/

h1, h2, h3, h4, h5, h6 {
font-family: var(--fonts-title);
color: var(--accent-color);
margin-block-start: 0;
}

h1 {
    font-size: 2.2rem;
    line-height: 2.5rem;
}
h2 {
    font-size: 2rem;
    line-height: 2.2rem;
}
h3 {
    font-size: 1.5rem;
    line-height: 2rem;
}
/* h4 {
    font-size: 1.35rem;
    line-height: 1.75rem;
}
h5 {
    font-size: 1.25rem;
    line-height: 1.55rem;
}
h6 {
    font-size: 1.1rem;
    line-height: 1.4rem;
} */

/*content text*/
a, p, input, th, td, button{
    color: var(--text-primary);
    font-weight: 400;
    line-height: 1.5rem;
}
a {
    transition: all 300ms ease-in-out;
    text-decoration: none;
    color: var(--accent-color);
}
a:hover {
    color: var(--text-primary);
}

/*text highlighted*/

.highlight {
    background: var(--accent-color-secondary);
}


/********************************/
/*buttons*/
/********************************/

/*reset default styles of buttons tags*/
button {
    background: none;
    border: none;
    font-size: 1rem;
}

.button {
    background: var(--accent-color);
    color: var(--text-secondary);
    padding: 10px 20px;
    border-radius: 15px;
}
.button:hover {
    background: var(--background-secondary);
    color: var(--accent-color-secondary);
}

/******************************/
/* header with logo and nav*/
/******************************/

.header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* height: var(--header-height); */
    position: fixed;
    top: 0;
    left:0;
    right:0;
    /* background: var(--background-primary); */
    background: white;
    border-bottom: solid 4px var(--accent-color);
    box-shadow: 0 0px 6px 0px var(--dropdown-shadow-black);
}
#header-logo-container {
    max-width: 50%;
    z-index: 2;
}
#header-logo {
    max-width: 100%;
}
/*nav menus */

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    margin: 0;
    padding: 15px;
}

.menu-item {
    list-style-type: none;
    margin: 10px 0;
    max-width: 100%;
}
/*bouton menu*/

#menu-mobile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
#menu-mobile-button:hover {
    cursor: pointer;
}
.menu-icone {
    display: inline-block;
    height: 32px;
    width: 32px;
    background: url('./images/icones/menu-32px.png') no-repeat;
    margin-bottom: 5px;
}
.menu-close {
    height:26px;
    width: 26px;
    background: url('./images/icones/close.png') no-repeat;
    background-size: contain;
}
#header-menu-nav {
    z-index: 1;
}
/*par défaut on cache le menu*/
#header-menu-nav {
    width: 100%;
    display: none;
}
/*si menu visible */
#header-menu-nav.visible {
    display: flex;
    justify-content: center;
    top: var(--header-height);
}
/********************************/
/* General structure*/
/********************************/

.section, header, footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.section, footer{
    /* background: blue; */
    margin: 0 auto;
    padding: 50px 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    /* background: var(--background-primary); */
    /* background: green; */
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
.col {
    /* background: var(--background-primary); */
    /* background: red; */
    padding: 20px 5px;
}

/*fix static width of images*/
img {
    display: inline-block;
    max-width: 100%;
}

/* tables design */

.table-responsive {
    max-width: 260px;
    overflow-x: auto;
}

table {
    width :100%;
    border-collapse: collapse;
}
table tbody {
    border-top: solid 2px var(--background-secondary);
}
td, th {
    vertical-align: top;
    padding: 0.5rem 0.5rem;
    text-align: left;
}
th {
    font-weight: 600;
}

/*card design (article tags)*/
.card {
    /* border-radius: 0 40px 40px 40px; */
    max-width: 100%;
    height: 100%;
    background: var(--accent-color);
    transition: all 200ms ease-in-out;
}
.card:hover {
    box-shadow: 0px 5px 15px 2px var(--dropdown-shadow-black);
}
.card-header {
    background: var(--background-primary);
}
.card-header img {
    display: block;
    margin: 0 auto;
}
.card-content {
    /* border: solid 4px var(--accent-color); */
    padding: 40px 20px 10px 20px;
}
.card-content h3, .card-content p, .card-content a {
    color: var(--text-secondary) !important;
}
.card-content a {
    text-decoration: underline;
}
video {
    width: 100%;
}


/********************************/
/*Specific Structures and design*/
/********************************/


/*alternate sections backgrounds*/
#experiences, #realisations {
    background: var(--background-primary);
}
#formation, #competences, #centres-interet {
    background: var(--background-secondary-ultralight);
}

/*home section*/

#home {
    background: var(--accent-color);
    border: solid 20px var(--background-primary);
    padding: 100px 0 30px 0;
}

/*adjust text color for blue background*/
#home h1, #home .page-subtitle, #home p {
    color: var(--text-secondary);
}
#home h1 .highlight {
    color: var(--accent-color);
}

#home .page-subtitle {
    padding-bottom: 0;
    margin-bottom: 0;
    color: var(--text-secondary);
}
#header-title-row {
    padding-bottom: 0;
    margin-bottom: 0;
}
#header-buttons-row {
    justify-content: flex-start;
    padding-top: 0;
    margin-top: 0;
}
#home .button {
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 5px 0px var(--dropdown-shadow-black);
}
#home .button:hover {
    box-shadow: none;
}

.button-icon {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 7px;
}   
#icon-email {
    background: url(./images/icones/email.png) no-repeat;
}
#icon-github {
    background: url(./images/icones/github.png) no-repeat;
}
#icon-linkedin {
    background: url(./images/icones/linkedin-logo.png) no-repeat;
}

/*formation section*/


/*experiences section*/

#experiences .card-header {
    background-color: var(--background-primary);
}
#competences .row {
    justify-content: center;
}
#competences .col {
    text-align: center;
    margin: 0 10px;
}
#competences h3 {
    margin-block-end: 0;
}

/*realisations & centres-interet section*/
#realisations .card-header, #centres-interet .card-header {
    display: grid;
}
#realisations .card-header img, #centres-interet .card-header img{
    object-fit: cover;
}

/*footer*/

footer {
    padding-bottom: 0;
}
footer p {
    margin: 5px 0;
}

/*Mentions légales*/
#page-mentions h2 {
    font-size: 2rem;
    line-height: 2.3rem;
}

/* cards section flex */
#experiences .row, #centres-interet .row {
    align-items: stretch;
}


/**********************/
/* mediaqueries */
/**********************/
@media screen and (min-width: 576px) {
    
    /*typo*/
    h1 {
        font-size: 2.8rem;
        line-height: 3.3rem;
    }
    h2 {
        font-size: 2.5rem;
        line-height: 2.9rem;
    }
    h3 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    /*table adjustement*/
    .table-responsive {
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    /*general*/
    
    .row {
        justify-content: space-between;        
    }
    .col2 {
        max-width: 45%;
    }

    /*cards*/

    #experiences .card-header img {
        max-width: 100%;
    }
    /*specific*/
    #home {
        padding: 170px 0 50px 0;
    }
}
@media screen and (min-width: 992px) {
    /*general*/
    .section {
        padding: 100px 0
    }
    .col3 {
        max-width: 30%;
    }
    /*typographie*/

    h1 {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }
    h2 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    /*menu desktop*/
    .header {
        flex-wrap: nowrap;
    }
    #menu-mobile-button {
        display: none;
    }
    #header-menu-nav {
        display: flex;
        width: auto;
        z-index: 1;
    }
    #header-menu {
        display: flex;
        flex-direction: row;
    }
    .menu-item {
        margin-right: 10px;
    }
   
}
@media screen and (min-width: 1200px) {
    /*adjust menu desktop*/
    .menu-item {
        margin-right: 25px;
    }
    /*specific*/
    #home {
        padding: 200px 0 100px 0;
    }
     /*col with page title and subtitle*/
     #home .row:first-child .col {
        max-width : 75%;
    }
}
@media screen and (min-width: 1600px) {
    /*specific*/
    #home {
        padding: 250px 0 100px 0;
    }
}